########## Jodis Properties ##########


# jodis server port listen on
jodis.port=6059

# persistence log directory
log.dir=log/

# JDB log file name
log.jdb=default.jdb

# WAL log file name
log.wal=default.wal

# Rewrite file size limit
log.wal.rewrite.size=64 * 1024 * 1024

# 0: WAL, 1:JDB, 2:MIX
log.reload.mode=2

# Server max request size
server.max.request=1024

# Server max concurrency size
server.max.concurrency=64