########## Jodis Properties ##########


# jodis server port listen on
jodis.port=6059

# persistence log directory
log.dir=log/

# JDB log file name
log.jdb=default.jdb

# WAL log file name
log.wal=default.wal

# Server max request size
server.max.request=1024

# Server max concurrency size
server.max.concurrency=64